###### Assessment

###### I am going to provide two .csv files , you are supposed to work on them and have to provide solutions to the following problems

###### import necessary libraries

In [2]:
import pandas as pd
import numpy as np

###### merge those two csv files (after getting as dataframes, get them as a single dataframe)

In [10]:
#https://www.geeksforgeeks.org/how-to-merge-two-csv-files-by-specific-column-using-pandas-in-python/

file1=pd.read_csv('college_1.csv')
file2=pd.read_csv('college_2.csv')
result=pd.merge(file1,file2,on=['Name','python','mysql','Previous Geekions','CodeKata Score','Department','Rising'],how='outer')
result.head(10)

C:\Users\Rajaj\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\reshape\merge.py:1205: UserWarning: You are merging on int and float columns where the float values are not equal to their int representation.
  warnings.warn(

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN
3,Mugunthan S,100.0,47.0,10610,10610,Computer Science and Engineering,0,NaN,NaN
4,Sathammai.S,100.0,8.0,8980,8980,Computer Science and Engineering,0,NaN,NaN
5,NIVEESHWAR S,100.0,0.0,8200,8200,Computer Science and Engineering,0,NaN,NaN
6,KALAIARASAN K,85.0,47.0,7750,7880,Electronics and Communication Engineering,130,NaN,NaN
7,MOHAMED ZUBAIR AHMED,82.0,4.0,7020,7020,Computer Science and Engineering,0,NaN,NaN
8,J.SUGANTHI,27.0,50.0,5860,5860,Electronics and Communication Engineering,0,NaN,NaN
9,thamizhpaana,29.0,0.0,5500,5500,Computer Science and Engineering,0,NaN,NaN

###### Take each csv file , split that csv file into multiple categories (example csv files are added in the repo)

###### consider if the codekata score exceeds 15000 points(present week) then make a csv on those observations as Exceeded expectations.csv

###### if  10000<codekata score<15000   (Reached_expectations.csv)

###### if  7000<codekata score<10000   (Needs_Improvement.csv)

###### if  codekate score < 7000        (Unsatisfactory.csv)

In [18]:
df=pd.DataFrame(result)
df1=df[df['CodeKata Score'] > 15000]
df1.to_csv("Exceeded expectations.csv")

df2=df[df['CodeKata Score'] < 15000]
df2.to_csv("Reached_expectations.csv")

df3=df[df['CodeKata Score'] < 10000]
df3.to_csv("Needs_Improvement.csv")

In [19]:
df3=df[df['CodeKata Score'] < 7000]
df3.to_csv("Unsatisfactory.csv")

###### Average of previous week geekions vs this week geekions (i.e Previous Geekions vs CodeKata Score)

In [24]:
df4=df['Previous Geekions'].mean()
print("Previous Geekions Average",df4)
df5=df['CodeKata Score'].mean()
print("CodeKata Score Average",df5)

Previous Geekions Average 3842.3529411764707
CodeKata Score Average 4051.764705882353

###### No of students participated

In [25]:
df6=pd.DataFrame(result)
len(df['Name'])

119

###### #Average completion of python course or my_sql or python english or computational thinking

In [31]:
print("python Average Completion" ,df6['python'].mean())
print("python Average Completion" ,df6['python_en'].mean())
print("python Average Completion" ,df6['computational_thinking'].mean())

python Average Completion 54.35294117647059
python Average Completion 29.65714285714286
python Average Completion 2.2

###### rising star of the week (top 3 candidate who performed well in that particular week)

In [32]:
df6.nlargest(3,['Rising'])

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
92,shifak N,58.0,0.0,5180,8320,Electronics and Electrical Engineering,3140,0.0,0.0
86,Ganesh Ramkumar R,-1.0,24.0,8790,10790,Computer Science and Engineering,2000,55.0,6.0
102,Narasimhan Y L,-1.0,0.0,4800,6800,Computer Science and Engineering,2000,-1.0,0.0

###### Shining stars of the week (top 3 candidates who has highest geekions)

In [33]:
df6.nlargest(3,['Previous Geekions'])

,Name,python,mysql,Previous Geekions,CodeKata Score,Department,Rising,python_en,computational_thinking
0,A.Dharani,82.0,20.0,24500,24500,Computer Science and Engineering,0,NaN,NaN
1,V.JEEVITHA,82.0,20.0,21740,21740,Computer Science and Engineering,0,NaN,NaN
2,HEMAVATHI.R,100.0,100.0,19680,19680,Computer Science and Engineering,0,NaN,NaN

###### Department wise codekata performence (pie chart)

In [39]:
#https://www.geeksforgeeks.org/how-to-create-pie-chart-from-pandas-dataframe/
df6.groupby(['Department']).sum().plot(kind='pie', y='CodeKata Score')

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

###### Department wise toppers (horizantal bar graph or any visual representations of your choice)

In [42]:
ax= df6.plot.barh()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.